.treeMenu {
    width: 100%;
}

.tree {
    float: left;
    width: 28%;
    height: 65%;
    overflow-y: auto;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #fbfbfb;
    border: 1px solid #999;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.tree li {
    list-style-type: none;
    margin: 0;
    padding: 10px 5px 0;
    position: relative
}

.tree li::before, .tree li::after {
    content: '';
    left: -20px;
    position: absolute;
    right: auto
}

.tree li::before {
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    top: 0;
    width: 1px
}

.tree li::after {
    border-top: 1px solid #999;
    height: 20px;
    top: 25px;
    width: 25px
}

.tree li span {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 8px;
    text-decoration: none
}

.tree li.parent_li > span {
    cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
    border: 0
}

.tree li:last-child::before {
    height: 30px
}

.tree span:hover {
    background: #eee;
    border: 1px solid #94a0b4;
    color: #000;
}

.tree span {
    cursor: pointer;
}

.tree-content {
    display: inline-block;
    width: 63.3%;
    height: 65%;
    overflow-y: auto;
    margin-left: 5px;
    padding: 30px;
    border: 1px solid #999;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05)
}

.tree-content-detail {
    margin: 20px 0px;
}

body {
    padding: 10px 50px;
    background: #F2F2F2;
}

h2 {
    color: #00bcd4;
}

.nav {
    width: 100%;
    height: 70px;
    background: #9e9e9e47;
    border-radius: 3px;
    text-align: left;
}

.nav-content {
    padding: 20px;
}

.content {
    width: 100%;
    white-space: nowrap;
}

.node_data_name {
    display: block;
}

#node_data_name {
    width: 96%;
}

.node_button {
    display: block;
}

.node-info-display-class {
    width: 100%;
    height: auto;
}

#node-info-display-input {
    width: 95% !important;
    height: 85.85%;
    resize: none;
    margin-top: -1px;
    line-height: 18px;
    font-size: 17px;
}

#txt_departmentname {
    width: 100%;
    height: 100%;
    resize: none;
}

#addNodeChildPath {
    width: 100%;
    height: 100%;
    resize: none;
}

#addNodeChildData {
    width: 100%;
    height: 100%;
    resize: none;
}

body {
    font-family: Verdana;
}

textarea {
    width: 600px;
    background-color: #000;
    height: 319px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    overflow: auto;
    color: #999;
    font-size: 15px;
}

.footer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.ng-copyright {
    font-size: 12px;
}

pre {
    padding: 0px;
}

.marg-top-20 {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.breadcrumb {
    display: block;
    padding: 4px 10px;
    margin-bottom: 5px;
    list-style: none;
    background-color: #88cd9b85;
    border-radius: 4px;
}

.tree-btn {
    width: 91%;
    height: auto;
    padding: 20px 10px;
    border-bottom: 1px solid #2272c8;
    margin-top: -20px;
    margin-bottom: 15px;
}

.btn {
    margin-right: 10px;
}

.nodeModal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000
}

.nodeModal-backdrop.nodeFade {
    opacity: 0
}

.nodeModal-backdrop, .nodeModal-backdrop.nodeFade.in {
    opacity: .8;
    filter: alpha(opacity=80)
}

.nodeModal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 560px;
    margin: -250px 0 0 -280px;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box
}

.nodeModal.nodeFade {
    top: -25%;
    -webkit-transition: opacity .3s linear, top .3s ease-out;
    -moz-transition: opacity .3s linear, top .3s ease-out;
    -o-transition: opacity .3s linear, top .3s ease-out;
    transition: opacity .3s linear, top .3s ease-out
}

.nodeModal.nodeFade.in {
    top: 50%
}

.nodeModal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #eee
}

.nodeModal-header .close {
    margin-top: 2px
}

.nodeModal-header h3 {
    margin: 0;
    line-height: 30px
}

.nodeModal-body {
    max-height: 400px;
    padding: 15px;
    overflow-y: auto
}

.nodeModal-form {
    margin-bottom: 0
}

.nodeModal-footer {
    padding: 14px 15px 15px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 #fff;
    -moz-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff
}

.nodeModal-footer:before, .nodeModal-footer:after {
    display: table;
    line-height: 0;
    content: ""
}

.nodeModal-footer:after {
    clear: both
}

.nodeModal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px
}

.nodeModal-footer .btn-group .btn + .btn {
    margin-left: -1px
}

.nodeModal-footer .btn-block + .btn-block {
    margin-left: 0
}
